/*-----------------------------------
BASIC CODE
------------------------------------*/



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    width: 1140px;
    margin: 0 auto;
}

html,body{
    font-size: 20px;
    font-weight: 300;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #fff;
}

nav{
    width: 100%;
}


header{
    color:rgba(0, 0, 0, 0.72);
    width: 100%;
    height: 100vh;
}

section{
    margin-top: 10%;
}

/*-----------------------------------
MAIN NAV
------------------------------------*/

nav{
    width: 100%;
    height: 75px;
    background-color: #1F271B;
    position: fixed;
    z-index: 1;
    overflow: hidden;
    top: 0;
}

.main-nav{
    text-align: center;
    
}

.main-nav li{
    list-style: none;
    display: inline-block;
    padding: 25px;
}


.main-nav li a:link,.main-nav li a:visited{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 110%;
    transition: border 0.5s;
}


.main-nav li:hover{
    background-color: #e53e2d;
}


/*-----------------------------------
MAIN TEXT
------------------------------------*/

.main-text{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%,-50%);
    color: #fff;
}

.main-text p{
    font-size: 120%;
    margin-left: 10px;
    letter-spacing: 1px;
    text-align: justify;
     margin-bottom: 20px;
}

h1{
    text-transform: uppercase;
    font-size: 400%;
    font-weight: 300 !important;
}

h2{
    text-transform: uppercase;
    color:  #3c6382;
    font-size: 300%;
    text-align: center;
    font-weight: 300;
    margin-bottom: 10%;
}

h2:after{
    content: " ";
    height: 2px;
    width: 100px;
    margin: 0 auto;
    background-color: #000;
}


h3{
    text-transform: capitalize;
    font-size: 200%;
    color: #555;
    
}

.main-text a:link,.main-text a:visited{
    text-decoration: none;
    color: #eee;
    box-shadow: 0 1px 1px #fff;
    padding: 5px 10px;
    background-color: #78e08f;
    border-radius: 5px;
    text-transform: capitalize;
    transition: background-color 0.2s;
}


.main-text a:hover{
    background-color: #2ed573;
}

/*-----------------------------------
SECTION ABOUT
------------------------------------*/




.about-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.about-flex > div:first-child{
    width: 40%;
    margin-left: 8%;
    height: 40%;
}

.about-flex > div:last-child{
    margin-left: 4%;
    width: 40%;
}

.about-text{
    color: #555;
    text-align: justify;
    font-size: 125%;
    margin-top: -16px;
}

.about-img{
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.about-img img{
    width: 100%;
    height: 100%;
}


/*-----------------------------------
SECTION TECH
------------------------------------*/


